<div class="container">
  <div class="col m10 offset-m1 s12">
      <h2 class="header text_b">Nuevo portafolio </h2>
      <div class="card-panel" id="result_card" style="display: none">
         <i class="tiny material-icons">info_outline</i> <span class="grey-text text-darken-4" id="result"></span>
      </div>
      <div class="row">
         <form method="POST" action="/admin/portfolio/insert" enctype="multipart/form-data">
           <div class="row">
             <div class="input-field">
               <input id="name" type="text" name="name" required>
               <label for="name">Nombre</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field">
               <input id="site_url" type="url" name="site_url" required>
               <label for="site_url">Url</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field">
               <textarea id="descrip" type="text" class="materialize-textarea" name="descrip" required rows="4" cols="5"></textarea>
               <label for="descrip">Descripción</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field">
               <input id="tecnologies" type="text" name="tecnologies" required>
               <label for="tecnologies">Tecnologías</label>
             </div>
           </div>
           <div class="row">
             <div class="file-field input-field">
                <div class="btn-large waves-effect waves-light teal default_color scrollspy">
                  <span>Foto </span>
                  <input type='file' id="photo" name='photo' required>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path" type="text" disabled="disabled">
                </div>
             </div>
           </div>
           <button class="btn-large waves-effect waves-light teal default_color scrollspy" type="submit" name="action">Grabar
              <i class="material-icons right">send</i>
           </button>
         </form>
       </div>
  </div>
 </div>
