<div class="card">
  <div class="card-content">
    <div class="container">
        <div class="row">
            <div class="col m10 offset-m1 s12">
                <h2 class="center-align">{{ title }}</h2>
                <p>{{ legend }}</p>
                <div id="result"></div>
                <div class="row">
                    <form method="{{ method }}" [ng-form-model]="myForm" class="col s12" (submit)="send_email($event, myForm.value)">
                        <div class="row">
                            <div class="input-field col m6 s12">
                                <input id="first_name" type="text" class="validate" ng-control="firstname">
                                <label for="first_name">{{ firstname }}</label>
                            </div>
                            <div class="input-field col m6 s12">
                                <input id="last_name" type="text" class="validate" ng-control="lastname">
                                <label for="last_name">{{ lastname }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <i class="mdi-content-mail prefix"></i>
                                <input id="email" type="email" class="validate" required ng-control="email">
                                <label for="email">{{ email }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                              <textarea id="message" class="materialize-textarea" ng-control="message"></textarea>
                              <label for="message">{{ message }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                             <p class="right-align">
                               <input type="submit" class="btn btn-large waves-effect waves-light" name="action" value="{{ send }}" />
                             </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
