<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>ItEngine soluciones tecnológicas</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Pre Loader -->
  <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>

  </div>

  <!--Navigation-->
   <div class="navbar-fixed">
      <nav id="nav_f" class="blue-grey darken-3" role="navigation">
          <div class="container">
              <div class="nav-wrapper">
                 <a href="/" id="logo-container" class="brand-logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" height="50" style="margin-bottom: -20px; margin-right: -0.6em;" />
                    <span class="itengine"><b>ItEngine</b></span>
                 </a>

                  <ul class="right hide-on-med-and-down">
                      <li><a href="/#servicios">Servicios</a></li>
                      <li><a href="/#clientes">Clientes</a></li>
                      <li><a href="/#contacto">Contacto</a></li>
                  </ul>
                  <ul id="nav-mobile" class="side-nav">
                    <li><a href="/#servicios">Servicios</a></li>
                    <li><a href="/#clientes">Clientes</a></li>
                    <li><a href="/#contacto">Contacto</a></li>
                  </ul>
                  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              </div>
          </div>
      </nav>
  </div>

  {% block body %}{% endblock %}

  <!--  Scripts-->
  <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

   {% block scripts %}{% endblock %}

  </body>
</html>