<div class="container">
  <div class="col m10 offset-m1 s12">
      <h2 class="header text_b">Nueva categoría </h2>
      <div class="card-panel" id="result_card" style="display: none">
         <i class="tiny material-icons">info_outline</i> <span class="grey-text text-darken-4" id="result"></span>
      </div>
      <div class="row">
         <form method="POST" action="/admin/category/insert">
           <div class="row">
             <div class="input-field">
               <input type="number" id="idcateg" name="idcateg">
               <label for="number">Id</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field">
               <input id="name" type="text" name="name">
               <label for="password">Nombre</label>
             </div>
           </div>
           <button class="btn-large waves-effect waves-light teal default_color scrollspy" type="submit" name="action">Grabar
              <i class="material-icons right">send</i>
           </button>
         </form>
       </div>
  </div>
 </div>
