<style>
.tiny-contact-progress{
  margin-right: 5px; width: 25px; height: 25px
}
.hide-element{
  display: none;
}
</style>

<div id="login-page" class="row">
  <div class="col s12 z-depth-6 card-panel">
    <div class="card-panel" id="result_card" style="display: none">
       <i class="tiny material-icons">info_outline</i> <span class="grey-text text-darken-4" id="result"></span>
    </div>
    <form class="login-form" method="POST" [ng-form-model]="myForm" (submit)="send_data_login($event, myForm.value)">
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <input class="validate" id="email" type="email" name="email" ng-control="email">
          <label for="email" data-error="wrong" data-success="right" class="center-align">Email  <span *ng-if="!email.valid" style="color: red">(Required)</span></label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <input id="password" type="password" name="password" ng-control="password">
          <label for="password">Password  <span *ng-if="!password.valid" style="color: red">(Required)</span></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <center>
            <div class="preloader-wrapper small active tiny-contact-progress" style="display: none">
               <div class="spinner-layer spinner-green-only">
                 <div class="circle-clipper left">
                   <div class="circle"></div>
                 </div><div class="gap-patch">
                   <div class="circle"></div>
                 </div><div class="circle-clipper right">
                   <div class="circle"></div>
                 </div>
               </div>
            </div>
            <input type="submit" class="btn waves-effect waves-light teal default_color scrollspy" style="width: 60%" value="login" />
          </center>
        </div>
      </div>
    </form>
  </div>
</div>
