<div class="card">
  <div class="card-content">
    <a href="/admin/newuser" class="waves-effect waves-light teal btn"> <span style="color: white">Agregar</span></a>
    <br>
    <br>
    <table class="striped row">
       <thead>
         <tr>
             <th class="col s4">Email</th>
             <th class="col s3">Password</th>
             <th class="col s3">Acciones</th>
         </tr>
       </thead>

       <tbody>
         {{#each data}}
           <tr>
            <td class="col s4">{{email}}</td>
            <td class="col s3"><span class="substring">{{password}}</span></td>
            <td class="col s3">
                <a class="waves-effect waves-light teal btn" style="margin: 5px"> <span style="color: white">Modificar</span></a>
                <a href="/admin/user/delete/{{_id}}" class="waves-effect waves-light red darken-1 btn" style="margin: 5px"> <span style="color: white">Eliminar</span></a>
            </td>
          </tr>
          {{/each}}
       </tbody>
     </table>
  </div>
</div>
