<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>ItEngine soluciones tecnológicas</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/publics/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/publics/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Pre Loader -->
  <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>

  </div>

  <!--Navigation-->
   <div class="navbar-fixed">
      <nav id="nav_f" class="blue-grey darken-3" role="navigation">
          <div class="container">
              <div class="nav-wrapper">
                 <a href="/" id="logo-container" class="brand-logo">
                    <img src="/publics/logo.png" height="50" style="margin-bottom: -12px; margin-right: 0.1em;" />
                    <span class="itengine"><b>ItEngine</b></span>
                 </a>

                  {{#if show_menu }}
                  <ul class="right hide-on-med-and-down">
                      <li><a href="#servicios">Servicios</a></li>
                      <li><a href="#clientes">Clientes</a></li>
                      <li><a href="#contacto">Contacto</a></li>
                  </ul>
                  <ul id="nav-mobile" class="side-nav">
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#clientes">Clientes</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                  </ul>
                  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                  {{/if}}

                  {{#if is_admin }}
                  <ul class="right hide-on-med-and-down">
                      <li><a href="/admin/users">Usuarios</a></li>
                      <li><a href="/admin/sites">Sitios</a></li>
                      <li><a href="/admin/logout">Logout</a></li>
                  </ul>
                  <ul id="nav-mobile" class="side-nav">
                    <li><a href="/admin/users">Usuarios</a></li>
                    <li><a href="/admin/sites">Sitios</a></li>
                    <li><a href="/admin/logout">Logout</a></li>
                  </ul>
                  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                  {{/if}}
              </div>
          </div>
      </nav>
  </div>

  {{{body}}}

  <!--  Scripts-->
  <script src="/scripts_bower/jquery/dist/jquery.min.js"></script>
  <script src="/publics/js/materialize.js"></script>
  <script src="/publics/js/init.js"></script>
  <script src="/scripts_bower/fetch/fetch.js"></script>

  <script src="/scripts/es6-shim/es6-shim.min.js"></script>
  <script src="/scripts/systemjs/dist/system-polyfills.js"></script>
  <script src="/scripts/angular2/bundles/angular2-polyfills.js"></script>
  <script src="/scripts/systemjs/dist/system.src.js"></script>
  <script src="/scripts/rxjs/bundles/Rx.js"></script>
  <script src="/scripts/angular2/bundles/angular2.dev.js"></script>

  <!--  Scripts-->
  <script>
      {{{ component }}}
  </script>

  </body>
</html>
